click~=7.1.1
ase~=3.20.1
dpgen~=0.9.0
paramiko~=2.7.1
daemon~=1.2
dpdata~=0.1.17
numpy~=1.20.3
pandas~=1.1.5
matplotlib~=3.3.3
requests~=2.24.0
setuptools~=49.2.1
dscribe~=1.0.0
seaborn~=0.11.1
tqdm~=4.54.1
dpdispatcher~=0.3.3
MDAnalysis~=2.0.0
scipy~=1.6.2
numba~=0.53.1
dynaconf~=3.1.7